<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
          integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/brands.css">
    <link rel="icon" href="img/shopee.svg">
</head>
<body>
<div class="app">
    <header>
        <%- include('layouts/header/navbar') %>
        <%- include('layouts/header/userbutton') %>
    </header>
    <%- include('partials/loginform') %>
    <%- include('partials/registryform') %>
    <script src="javascript/modalBehavior.js"></script>
    <div class="app">
        <div class="header">

        </div>
        <div class="app__container">
            <div class="grid">

                <div class="grid__row app__content">
                    <div class="grid__column-2">
                        <nav class="category">
                            <h3 class="category__heading"><i class="category__heading-icon fa-solid fa-list"></i>
                                Danh mục</h3>
                            <ul class="category-list">
                                <li class="category-item category-item--active">
                                    <a href="" class="category-item__link">
                                        Laptop
                                    </a>
                                </li>
                                <li class="category-item">
                                    <a href="" class="category-item__link">
                                        Tablet
                                    </a>
                                </li>
                                <li class="category-item">
                                    <a href="" class="category-item__link">
                                        Điện thoại thông minh
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="grid__column-8">

                    </div>
                    <div class="grid__column-10">
                        <div class="home-filter">
                            <span class="home-filter__label">
                                Sắp xếp theo
                            </span>
                            <button class="btn home-filter__btn">Phổ biến</button>
                            <button class="btn btn--primary home-filter__btn">Mới nhất</button>
                            <button class="btn home-filter__btn">Bán chạy</button>
                            <div class="select-input">
                                <span class="select-input__label">Giá</span>
                                <i class="select-input__icon fas fa-angle-down"></i>
                                <ul class="select-input__list">
                                    <li class="select-input__item">
                                        <a href="" class="select-input__link">Thấp đến cao</a>
                                    </li>
                                    <li class="select-input__item"><a href="" class="select-input__link">
                                            Cao đến thấp
                                        </a></li>
                                </ul>
                            </div>
                            <div class="home-filter__page">
                                <span class="home-filter__page-num">
                                    <span class="home-filter__page-current">1</span>/14
                                </span>
                                <div class="home-filter__page-control">
                                    <a href="" class="home-filter__page-btn home-filter__page-btn--disabled">
                                        <i class="home-filter__page-icon fas fa-angle-left"></i>
                                    </a>
                                     <a href="" class="home-filter__page-btn">
                                        <i class="home-filter__page-icon fas fa-angle-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">

        </div>
    </div>
    <footer>
        <% var page; %>
        <% if(page !== undefined){ %>
            <%- include(page.toString()) %>
        <% } %>
    </footer>
</div>
</body>
</html>