<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title; %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
          integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/brands.css">
    <link rel="icon" href="img/shopee.svg">
</head>
<body>
<div class="app">
    <header>
        <%- include('layouts/navbar') %>
        <%- include('layouts/userbutton') %>
    </header>
    <%- include('partials/loginform') %>
    <%- include('partials/registryform') %>
    <script src="javascript/modalBehavior.js"></script>
    <div class="app">
        <div class="header">

        </div>
        <div class="app__container">
            <div class="grid">

                <div class="grid__row app__content">
                    <div class="grid__column-2">
                        <%- include('partials/category') %>
                    </div>
                    <div class="grid__column-8">

                    </div>
                    <div class="grid__column-10">
                        <%- include('partials/home-filter') %>
                        <%- include('partials/home-product') %>
                    <ul class="pagination home-product__pagination">
                        <li class="pagination-item">
                            <a href="" class="pagination-item__link">
                                <i class="pagination-item__icon fas fa-angle-left"></i>
                            </a>
                        </li>
                        <li class="pagination-item pagination-item--active">
                            <a href="" class="pagination-item__link">1</a>
                        </li>
                        <li class="pagination-item">
                            <a href="" class="pagination-item__link">2</a>
                        </li>
                        <li class="pagination-item">
                            <a href="" class="pagination-item__link">3</a>
                        </li>
                        <li class="pagination-item">
                            <a href="" class="pagination-item__link">4</a>
                        </li>
                        <li class="pagination-item">
                            <a href="" class="pagination-item__link">5</a>
                        </li>
                        <li class="pagination-item">
                            <a href="" class="pagination-item__link">...</a>
                        </li>
                        <li class="pagination-item">
                            <a href="" class="pagination-item__link">14</a>
                        </li>
                        <li class="pagination-item">
                            <a href="" class="pagination-item__link">
                                <i class="pagination-item__icon fas fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer"></div>
    </div>
    <% var page; %>
    <% if(page !== undefined){ %>
        <%- include(page.toString()) %>
    <% } %>
    <footer>
        <div class="grid">
            <div class="grid__row">
                <div class="grid__column-2-4">
                    <h3 class="footer__heading">
                        CHĂM SÓC KHÁCH HÀNG
                    </h3>
                    <ul class="footer__list">
                        <li class="footer__list-item">
                            <a>Trung Tâm Trợ Giúp</a>
                        </li>
                        <li class="footer__list-item">
                            <a>Shopee Mall</a>
                        </li>
                        <li class="footer__list-item">
                            <a>Hướng Dẫn Mua Hàng</a>
                        </li>
                        <li class="footer__list-item">
                            <a>Hướng Dẫn Bán Hàng</a>
                        </li>
                    </ul>
                </div>
                <div class="grid__column-2-4">
                    <h3 class="footer__heaing">
                        VỀ SHOPEE
                    </h3>
                    <ul class="footer__list">
                        <li class="footer__list-item">
                            <a>Giới Thiệu Về Shopee</a>
                        </li>
                        <li class="footer__list-item">
                            <a>Tuyển Dụng</a>
                        </li>
                        <li class="footer__list-item">
                            <a>Điều Khoản Shopee</a>
                        </li>
                        <li class="footer__list-item">
                            <a>Chính Sách Bảo Mật</a>
                        </li>
                    </ul>
                </div>
                <div class="grid__column-2-4">
                    <h3 class="footer__heading">
                        THANH TOÁN
                    </h3>
                    <div class="payment-method">
                        <img src="img/VISA.png" alt="visa">
                        <img src="img/MasterCard.png" alt="mastercard">
                        <img src="img/JCB.png" alt="jcb">
                        <img src="img/AmericanExpress.png" alt="american-express">
                        <img src="img/ShopeePay1.png" alt="shopee-pay">
                        <img src="img/ShopeePay2.png" alt="shopee-pay">
                    </div>
                </div>
                <div class="grid__column-2-4">
                    <h3 class="footer__heading">
                        THEO DÕI CHÚNG TÔI TRÊN
                    </h3>
                    <ul class="footer__list">
                        <li class="footer__list-item">
                            <a>
                                <i class="footer-item__icon fa-brands fa-facebook"></i>
                                Facebook
                            </a>
                        </li>
                        <li class="footer__list-item">
                            <a>
                                <i class="footer-item__icon fa-brands fa-square-instagram"></i>
                                Instagram
                            </a>
                        </li>
                        <li class="footer__list-item">
                            <a>
                                <i class="footer-item__icon fa-brands fa-linkedin"></i>
                                LinkedIn
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="grid__column-2-4">
                    <h3 class="footer__heading">
                        TẢI ỨNG DỤNG SHOPEE NGAY THÔI
                    </h3>
                    <div class="footer__download">
                        <img src="img/QRCode.png" alt="download-qr" class="footer__download-qr">
                        <div class="footer__download-app">
                            <a>
                                <img src="img/AppStore.png" alt="AppStore" class="footer__download-app-img">
                            </a>
                            <a>
                                <img src="img/CHplay.png" alt="CHplay" class="footer__download-app-img">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="footer__bottom">
                <div class="grid">
                    <p class="footer__text">&#169; <span>2023</span> Shopee. Tất cả các quyền được bảo lưu.</p>
                </div>
            </div>
    </footer>
</div>
</body>
</html>