<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
          integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/brands.css">
    <link rel="icon" href="img/shopee.svg">
</head>
<body>
<div class="app">
    <header>
        <%- include('partials/navbar') %>
        <div class="header-with-search">
            <div class="header__logo" onclick="location.href = '/';">
                <%- include('partials/shopee-logo') %>
            </div>
            <%- include('partials/searchbar') %>
            <div class="header__cart">
                <div class="header__cart-wrap">
                    <i class="header__cart-icon fa-solid fa-cart-shopping"></i>
                    <div class="header__cart-list header__cart-list--no-cart">
                        <img src="img/empty_cart.png" alt="empty cart image" class="header__cart-no-cart-img">
                        <span class="header__cart-no-cart-msg">Chưa Có Sản Phẩm</span>
                    </div>
                </div>

            </div>
        </div>
    </header>
    <%- include('partials/loginform') %>
    <%- include('partials/registryform') %>
    <script src="javascript/modalBehavior.js"></script>
    <footer>
        <% var page; %>
        <% if(page !== undefined){ %>
            <%- include(page.toString()) %>
        <% } %>
    </footer>
</div>
</body>
</html>