<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
          integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/brands.css">
    <link rel="icon" href="img/shopee.svg">
</head>
<body>
<div class="app">
    <header>
        <%- include('partials/navbar') %>
        <div class="header-with-search">
            <div class="header__logo" onclick="location.href = '/';">
                <%- include('partials/svg-logo') %>
            </div>
            <div class="header__search">

                <div class="header__search-input-wrap">
                    <label style="flex: 1; height: 100%">
                        <input type="text" class="header__search-input" placeholder="Nhập để tìm kiếm">
                    </label>
                    <div class="header__search-history">
                        <h3 class="header__search-history-heading">
                            Lịch sử tìm kiếm
                        </h3>
                        <ul class="header__search-history-list">
                            <li class="header__search-history-item"><a href="">phone</a></li>
                            <li class="header__search-history-item"><a href="">balo</a></li>
                            <li class="header__search-history-item"><a href="">túi xách</a></li>
                        </ul>
                    </div>
                </div>
                <div class="header__search-select">
                    <span class="header__search-select-label">Gợi ý</span>
                    <i class="header__search-select-icon fa-solid fa-chevron-down"></i>
                    <ul class="header__search-option">
                        <li class="header__search-option-item"><span>Dép</span></li>
                        <li class="header__search-option-item"><span>Áo khoác</span></li>
                        <li class="header__search-option-item"><span>Áo thun</span></li>
                        <li class="header__search-option-item"><span>Túi xách</span></li>
                        <li class="header__search-option-item"><span>Ốp lưng</span></li>
                        <li class="header__search-option-item"><span>Balo</span></li>
                        <li class="header__search-option-item"><span>Tai nghe bluetooh</span></li>
                        <li class="header__search-option-item"><span>LEGO</span></li>
                    </ul>
                </div>
                <script src="javascript/searchBehavior.js"></script>
                <button class="header__search-btn">
                    <i class="header__search-btn-icon fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
            <div class="header__cart">
                <i class="header__cart-icon fa-solid fa-cart-shopping"></i>
            </div>
        </div>
    </header>
    <%- include('partials/loginform') %>
    <%- include('partials/registryform') %>
    <script src="javascript/modalBehavior.js"></script>
    <footer>
        <% var page; %>
        <% if(page !== undefined){ %>
            <%- include(page.toString()) %>
        <% } %>
    </footer>
</div>
</body>
</html>