<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
          integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/brands.css">
    <link rel="icon" href="img/shopee.svg">
</head>
<body>
<div class="app">
    <header>
        <%- include('layouts/header/navbar') %>
        <%- include('layouts/header/userbutton') %>
    </header>
    <%- include('partials/loginform') %>
    <%- include('partials/registryform') %>
    <script src="javascript/modalBehavior.js"></script>
    <div class="app">
        <div class="header">

        </div>
        <div class="app__container">
            <div class="grid">

                <div class="grid__row app__content">
                    <div class="grid__column-2">
                        <nav class="category">
                            <h3 class="category__heading"><i class="category__heading-icon fa-solid fa-list"></i>
                                Danh mục</h3>
                            <ul class="category-list">
                                <li class="category-item category-item--active">
                                    <a href="" class="category-item__link">
                                        Laptop
                                    </a>
                                </li>
                                <li class="category-item">
                                    <a href="" class="category-item__link">
                                        Tablet
                                    </a>
                                </li>
                                <li class="category-item">
                                    <a href="" class="category-item__link">
                                        Điện thoại thông minh
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="grid__column-8">

                    </div>
                    <div class="grid__column-10">
                        <%- include('partials/homefilter') %>
                        <div class="home-product">
                            <div class="grid__row">
                                <div class="grid__column-2">
                                    <div class="home-product-item">
                                        <div class="home-product-item__img" style="background-image: url(https://cf.shopee.vn/file/84b7e1a15e9bb49fcb56e4eadaccb4c4_tn)">
                                        </div>
                                        <h4 class="home-product-item__name">

                                        </h4>
                                        <div class="home-product-item__price">
                                            <span class="home-product-item__old-price"></span>
                                            <span class="home-product-item__current-price"></span>
                                        </div>
                                        <div class="home-product-item__action">
                                            <span class="home-product-item__add-to-cart"><i>Thêm vào giỏ</i></span>
                                            <div class="home-product-item__rating">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                            </div>
                                        </div>
                                        <div class="home-product-item__origin">
                                            <span class="home-product-item__store">Samsung-official-store</span>
                                            <span class="home-product-item__brand">#Shop Đặc Biệt</span>
                                        </div>
                                        <div class="home-product-item__favourite">
                                            <i class="fa-solid fa-check"></i>
                                            Yêu thích
                                        </div>
                                        <div class="home-product-item__sale-off">
                                            <span class="home-product-item__sale-off-percent"></span>
                                            <span class="home-product-item__sale-off-label"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">

        </div>
    </div>
    <footer>
        <% var page; %>
        <% if(page !== undefined){ %>
            <%- include(page.toString()) %>
        <% } %>
    </footer>
</div>
</body>
</html>